{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}
    <div class="container bg-white max-w-2xl rounded-lg shadow-md mx-auto px-4 py-8">
        {% if form.errors %}
            <div class="errors mb-4 bg-red-500 text-2xl text-white p-4 rounded-lg">
                <ul>
                    {% for field, error in form.errors.items %}<li>{{ field }}: {{ error }}</li>{% endfor %}
                </ul>
            </div>
        {% endif %}
        <h1 class="text-2xl font-bold mb-4">Student Registration</h1>
        <form method="post"
              enctype="multipart/form-data"
              class="space-y-4"
              id="student-registration-form">
            {% csrf_token %}
            <!-- User Creation Fields -->
            <div class="grid gap-4">
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_first_name">First Name</label>
                    <input type="text"
                           name="first_name"
                           id="id_first_name"
                           required
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.first_name.errors %}<p class="text-red-500 text-sm mt-1">{{ form.first_name.errors }}</p>{% endif %}
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_last_name">
                        Last Name <span class="text-sm text-gray-500">(optional)</span>
                    </label>
                    <input type="text"
                           name="last_name"
                           id="id_last_name"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.last_name.errors %}<p class="text-red-500 text-sm mt-1">{{ form.last_name.errors }}</p>{% endif %}
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_father_name">Father's Name</label>
                    <input type="text"
                           name="father_name"
                           id="id_father_name"
                           required
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.father_name.errors %}<p class="text-red-500 text-sm mt-1">{{ form.father_name.errors }}</p>{% endif %}
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_mother_name">Mother's Name</label>
                    <input type="text"
                           name="mother_name"
                           id="id_mother_name"
                           required
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.mother_name.errors %}<p class="text-red-500 text-sm mt-1">{{ form.mother_name.errors }}</p>{% endif %}
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_email">
                        Email <span class="text-sm text-gray-500">(optional)</span>
                    </label>
                    <input type="email"
                           name="email"
                           id="id_email"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.email.errors %}<p class="text-red-500 text-sm mt-1">{{ form.email.errors }}</p>{% endif %}
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_aadhar_number">
                        Aadhar Number <span class="text-sm text-gray-500">(optional)</span>
                    </label>
                    <input type="text"
                           name="aadhar_number"
                           id="id_aadhar_number"
                           pattern="[0-9]{12}"
                           title="Please enter a valid 12-digit Aadhar number"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.aadhar_number.errors %}<p class="text-red-500 text-sm mt-1">{{ form.aadhar_number.errors }}</p>{% endif %}
                    <p class="text-sm text-gray-500 mt-1">Enter a valid 12-digit Aadhar number</p>
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_village">Village</label>
                    <input type="text"
                           name="village"
                           id="id_village"
                           required
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.village.errors %}<p class="text-red-500 text-sm mt-1">{{ form.village.errors }}</p>{% endif %}
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_pincode">Pincode</label>
                    <input type="text"
                           name="pincode"
                           id="id_pincode"
                           required
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.pincode.errors %}<p class="text-red-500 text-sm mt-1">{{ form.pincode.errors }}</p>{% endif %}
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_dob">Date of Birth</label>
                    <input type="date"
                           name="dob"
                           id="id_dob"
                           required
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.dob.errors %}<p class="text-red-500 text-sm mt-1">{{ form.dob.errors }}</p>{% endif %}
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_blood_group">Blood Group</label>
                    <select name="blood_group"
                            id="id_blood_group"
                            class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                        {% for choice in form.blood_group.field.choices %}<option value="{{ choice.0 }}">{{ choice.1 }}</option>{% endfor %}
                    </select>
                    {% if form.blood_group.errors %}<p class="text-red-500 text-sm mt-1">{{ form.blood_group.errors }}</p>{% endif %}
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_gender">Gender</label>
                    <select name="gender"
                            id="id_gender"
                            class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                        {% for choice in form.gender.field.choices %}<option value="{{ choice.0 }}">{{ choice.1 }}</option>{% endfor %}
                    </select>
                    {% if form.gender.errors %}<p class="text-red-500 text-sm mt-1">{{ form.gender.errors }}</p>{% endif %}
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_religion">
                        Religion <span class="text-sm text-gray-500">(optional)</span>
                    </label>
                    <input type="text"
                           name="religion"
                           id="id_religion"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_caste">
                        Caste <span class="text-sm text-gray-500">(optional)</span>
                    </label>
                    <input type="text"
                           name="caste"
                           id="id_caste"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_category">
                        Category <span class="text-sm text-gray-500">(optional)</span>
                    </label>
                    <input type="text"
                           name="category"
                           id="id_category"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_phone_number">
                        Phone Number <span class="text-sm text-gray-500">(optional)</span>
                    </label>
                    <input type="text"
                           name="phone_number"
                           id="id_phone_number"
                           pattern="[0-9]{10}"
                           title="Please enter a valid 10-digit phone number"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.phone_number.errors %}<p class="text-red-500 text-sm mt-1">{{ form.phone_number.errors }}</p>{% endif %}
                    <p class="text-sm text-gray-500 mt-1">Enter a valid 10-digit phone number</p>
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_is_whatsapp">Is Whatsapp?</label>
                    <div class="flex gap-4">
                        <div>
                            <input type="radio"
                                   name="is_whatsapp"
                                   id="id_is_whatsapp_yes"
                                   value="True"
                                   required>
                            <label class="text-gray-700 font-medium ml-2" for="id_is_whatsapp_yes">Yes</label>
                        </div>
                        <div>
                            <input type="radio"
                                   name="is_whatsapp"
                                   id="id_is_whatsapp_no"
                                   value="False"
                                   required>
                            <label class="text-gray-700 font-medium ml-2" for="id_is_whatsapp_no">No</label>
                        </div>
                    </div>
                    {% if form.is_whatsapp.errors %}<p class="text-red-500 text-sm mt-1">{{ form.is_whatsapp.errors }}</p>{% endif %}
                </div>
            </div>
            <!-- Student Creation Fields -->
            <div class="grid gap-4">
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_height">Height (in cm)</label>
                    <input type="number"
                           step="any"
                           name="height"
                           id="id_height"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.height.errors %}<p class="text-red-500 text-sm mt-1">{{ form.height.errors }}</p>{% endif %}
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_weight">Weight (in Kg)</label>
                    <input type="number"
                           step="any"
                           name="weight"
                           id="id_weight"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.weight.errors %}<p class="text-red-500 text-sm mt-1">{{ form.weight.errors }}</p>{% endif %}
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_apaar_id">Apaar ID</label>
                    <input type="text"
                           name="apaar_id"
                           id="id_apaar_id"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.apaar_id.errors %}<p class="text-red-500 text-sm mt-1">{{ form.apaar_id.errors }}</p>{% endif %}
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_pen_number">Pen Number</label>
                    <input type="text"
                           name="pen_number"
                           id="id_pen_number"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.pen_number.errors %}<p class="text-red-500 text-sm mt-1">{{ form.pen_number.errors }}</p>{% endif %}
                </div>
            </div>
            <!-- Student Admission Creation Fields -->
            <div class="grid gap-4">
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_section">Section</label>
                    <select name="section"
                            id="id_section"
                            class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                        {% for choice in form.section.field.choices %}<option value="{{ choice.0 }}">{{ choice.1 }}</option>{% endfor %}
                    </select>
                    {% if form.section.errors %}<p class="text-red-500 text-sm mt-1">{{ form.section.errors }}</p>{% endif %}
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_is_rte">Is RTE</label>
                    <select name="is_rte"
                            id="id_is_rte"
                            class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                        {% for choice in form.is_rte.field.choices %}<option value="{{ choice.0 }}">{{ choice.1 }}</option>{% endfor %}
                    </select>
                    {% if form.is_rte.errors %}<p class="text-red-500 text-sm mt-1">{{ form.is_rte.errors }}</p>{% endif %}
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_student_class">Student Class</label>
                    <select name="student_class"
                            id="id_student_class"
                            class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                        {% for choice in form.student_class.field.choices %}<option value="{{ choice.0 }}">{{ choice.1 }}</option>{% endfor %}
                    </select>
                    {% if form.student_class.errors %}<p class="text-red-500 text-sm mt-1">{{ form.student_class.errors }}</p>{% endif %}
                </div>
            </div>
            <!-- Previous Institution Detail Creation Fields -->
            <div class="grid gap-4">
                <div>
                    <label class="block text-gray-700 font-medium mb-2"
                           for="id_last_institution">Last Institution</label>
                    <input type="text"
                           name="last_institution"
                           id="id_last_institution"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.last_institution.errors %}
                        <p class="text-red-500 text-sm mt-1">{{ form.last_institution.errors }}</p>
                    {% endif %}
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_score">Score</label>
                    <input type="number"
                           step="any"
                           name="score"
                           id="id_score"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.score.errors %}<p class="text-red-500 text-sm mt-1">{{ form.score.errors }}</p>{% endif %}
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_mm">Maximum Marks</label>
                    <input type="number"
                           step="any"
                           name="mm"
                           id="id_mm"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.mm.errors %}<p class="text-red-500 text-sm mt-1">{{ form.mm.errors }}</p>{% endif %}
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_rte">RTE</label>
                    <select name="rte"
                            id="id_rte"
                            class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                        {% for choice in form.rte.field.choices %}<option value="{{ choice.0 }}">{{ choice.1 }}</option>{% endfor %}
                    </select>
                    {% if form.rte.errors %}<p class="text-red-500 text-sm mt-1">{{ form.rte.errors }}</p>{% endif %}
                </div>
            </div>
            <!-- Bank Details Creation Fields -->
            <div class="grid gap-4">
                <div>
                    <label class="block text-gray-700 font-medium mb-2"
                           for="id_account_holder_name">Bank Account Holder Name</label>
                    <input type="text"
                           name="account_holder_name"
                           id="id_account_holder_name"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.account_holder_name.errors %}
                        <p class="text-red-500 text-sm mt-1">{{ form.account_holder_name.errors }}</p>
                    {% endif %}
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_account_number">Bank Account Number</label>
                    <input type="text"
                           name="account_number"
                           id="id_account_number"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.account_number.errors %}
                        <p class="text-red-500 text-sm mt-1">{{ form.account_number.errors }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_ifsc">IFSC Code</label>
                    <input type="text"
                           name="ifsc"
                           id="id_ifsc"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.ifsc.errors %}<p class="text-red-500 text-sm mt-1">{{ form.ifsc.errors }}</p>{% endif %}
                </div>
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_branch_name">Branch Name</label>
                    <input type="text"
                           name="branch_name"
                           id="id_branch_name"
                           class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                    {% if form.branch_name.errors %}<p class="text-red-500 text-sm mt-1">{{ form.branch_name.errors }}</p>{% endif %}
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="id_account_type">Account Type</label>
                    <select name="account_type"
                            id="id_account_type"
                            class="border border-gray-300 p-2 rounded-md focus:outline-none w-full focus:ring-2 focus:ring-blue-500">
                        {% for choice in form.account_type.field.choices %}<option value="{{ choice.0 }}">{{ choice.1 }}</option>{% endfor %}
                    </select>
                    {% if form.account_type.errors %}<p class="text-red-500 text-sm mt-1">{{ form.account_type.errors }}</p>{% endif %}
                </div>
            </div>
            <button type="submit"
                    class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition-colors">
                Register
            </button>
        </form>
    </div>
{% endblock content %}
