{% load custom_tags %}
<h1>Score List of Class {{ class_var }} ({{ session }})</h1>
<table border="1" cellpadding="5">
  <thead>
    <tr>
      <th rowspan="2">Student (Rank)</th>
      {% for h in headers %}
        <th colspan="{{ h.exams|length }}">{{ h.subject }}</th>
      {% endfor %}
      <th rowspan="2">Total</th>
      <th rowspan="2">Percentage</th>
    </tr>
    <tr>
      {% for h in headers %}
        {% for exam in h.exams %}
          <th>{{ exam }}</th>
        {% endfor %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <tr>
        <td>{{ row.student }} ({{ row.rank }})</td>
        {% for h in headers %}
          {% for exam in h.exams %}
            <td>{% get_score row.scores h.subject exam %}</td>
          {% endfor %}
        {% endfor %}
        <td>{{ row.total }}</td>
        <td>{{ row.percentage }}%</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
